<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Accueil - Pharmacie</title>
  <link rel="stylesheet" href="/css/accueil.css"> <!-- Lien vers votre fichier CSS -->
 
</head>
<body>

  <div class="container">
    <div class="buttons">
      <a href="/patients" class="button">Patients</a>
      <a href="/medecins" class="button">Médecins</a>
      <a href="/pharmaciens" class="button">Pharmaciens</a>
      <a href="/medicaments" class="button">Médicaments</a>
      <a href="/ordonnances" class="button">Ordonnances</a>
      <a href="/pathologies" class="button">Pathologies</a>
      <a href="/mutuelles" class="button">Mutuelles</a>
    </div>
  </div>
</body>
</html>
