
        <div id="bdSidebar" class="d-flex flex-column flex-shrink-0 p-3 bg-success text-white offcanvas-md offcanvas-start" style="width: 280px;">
            <a href="#" class="navbar-brand">
                <h5><i class="fa-solid fa-pills me-2" style="font-size: 28px;"></i>Pharmacie Sautheuz</h5>
            </a>
            <hr>
            <ul class="mynav nav nav-pills flex-column mb-auto">
                <li class="nav-item mb-1">
                    <a href="/" class="">
                        <i class="fa-solid fa-chart-simple"></i>
                        Vue globale
                    </a>
                </li>
                <li class="nav-item mb-1">
                    <a href="/medecins" class="">
                        <i class="fa-solid fa-user-md"></i>
                        Médecins
                        <span class="notification-badge"></span>
                    </a>
                </li>
                <li class="nav-item mb-1">
                    <a href="/pharmaciens" class="">
                        <i class="fa-solid fa-user-md"></i>
                        Pharmaciens
                    </a>
                </li>
                <li class="nav-item mb-1">
                    <a href="/patients" class="">
                        <i class="fa-solid fa-user"></i>
                        Patients
                    </a>
                </li>
                <li class="nav-item mb-1">
                    <a href="/medicaments" class="">
                        <i class="fa-solid fa-pills"></i>
                        Médicaments
                    </a>
                </li>
                <li class="nav-item mb-1">
                    <a href="/ordonnances" class="">
                        <i class="fa-solid fa-file"></i>
                        Ordonnances
                    </a>
                </li>
                <li class="nav-item mb-1">
                  <a href="/pathologies" class="">
                      <i class="fa-solid fa-virus"></i>
                      Pathologies
                  </a>
              </li>
              <li class="nav-item mb-1">
                <a href=":mutuelles" class="">
                    <i class="fa-solid fa-people-roof"></i>
                    Mutuelles
                </a>
            </li>
            </ul>
            <hr>
            
        </div>
