<!DOCTYPE html>
<html>
<head>
  <title>Ajouter un médecin</title>
  <link rel="stylesheet" href="/css/style_form.css">
</head>
<body>
  <h1>Ajouter un pharmacien</h1>
  <form method="post" action="/pharmaciens/ajouter">
    <label for="nom">Nom :</label>
    <input type="text" id="nom" name="nom" required><br>

    <label for="prenom">Prénom :</label>
    <input type="text" id="prenom" name="prenom" required><br>

    <label for="nomUtilisateur">Nom d'utilisateur :</label>
    <input type="text" id="nomUtilisateur" name="nomUtilisateur" required><br>

    <label for="motDePasse">Numéro de Téléphone :</label>
    <input type="text" id="motDePasse" name="motDePasse" required><br>

    <input type="submit" value="Ajouter">
  </form>
</body>
</html>
