<!DOCTYPE html>
<html>
<head>
  <title>Modifier Médicament</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style_main.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  
</head>
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="bg-light rounded" style="border: 2px solid #343a40; padding: 20px;">
          <h3 class="text-success text-center mb-4">Modifier un médicament</h3>
          <form action="/medicaments/modifier/<%= medicament.Medicament_Id %>" method="POST">
            <div class="mb-3">
              <label class="form-label" for="nom">Nom :</label>
              <input class="form-control" type="text" name="nom" id="nom" value="<%= medicament.Medicament_Nom %>">
            </div>
            <div class="mb-3">
              <label class="form-label" for="stock">Stock :</label>
              <input class="form-control" type="number" name="stock" id="stock" value="<%= medicament.Medicament_Stock %>">
            </div>
            <div class="mb-3">
              <label class="form-label" for="prix">Prix :</label>
              <input class="form-control" type="number" step="0.01" name="prix" id="prix" value="<%= medicament.Medicament_Prix %>">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-success">Enregistrer les modifications</button>
              <a href="/medicaments" class="btn btn-secondary">Annuler</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
