<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pharmacie</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/accueil.css">
</head>

<body>
  <div class="sidebar">
    <div class="pb-3 mb-4 border-bottom">
      <h1 class="text-white mb-4 text-center">Pharmacie Sautheuz</h1>
    </div>
    <div class=> 
      <a href="/">Accueil</a>
      <a href="/patients">Patients</a>
      <a href="/medecins">Médecins</a>
      <a href="/pharmaciens">Pharmaciens</a>
      <a href="/medicaments">Médicaments</a>
      <a href="/ordonnances">Ordonnances</a>
      <a href="/pathologies">Pathologies</a>
      <a href="/mutuelles">Mutuelles</a>
    </div>
   
  </div>

  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
