/* accueil.css */
.sidebar {
  height: 100%;
  width: 16rem; 
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2276c9;
  padding-top: 1.25rem; /* Equivalent to 20px using rem */
}

.sidebar a {
  margin-bottom: 2rem; /* Equivalent to 20px using rem */
  display: block;
  padding: 0.625rem 0.9375rem; /* Equivalent to 10px 15px using rem */
  font-size: 1.125rem; /* Equivalent to 18px using rem */
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.sidebar a:hover {
  background-color: #14161a6e;
}

.content {
  margin-left: 16rem; /* Equivalent to 250px using rem */
  padding: 1.25rem; /* Equivalent to 20px using rem */
}
